<section class="login">
    <div class="container">
        <div class="row m-5 g-0">
            <div class="col-md-5">
                <img src="https://app.svgator.com/assets/svgator.webapp/log-in-girl.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 px-5 pt-5">
                <h1 class="fw-bolder py-3">Login</h1>
                <h4>SignUp into your account</h4>
                <form class="my-4" (submit)="loginuser(loginform)" #loginform="ngForm" class="myform" method="post">
                    <div class="form-row">
                        <div class="col-md-7">
                            <input type="email" class="form-control my-3 p-2" placeholder="Enter your Email"
                                name="email" #emailInput="ngModel" 
                                [ngClass]="
                    emailInput.invalid &&
                    (emailInput.touched || isSubmitted)
                      ? 'border-danger'
                      : emailInput.valid
                      ? 'border-success'
                      :''" email ngModel required />
                            <div class="h-10">
                                <small *ngIf="
                        emailInput.invalid && (emailInput.touched || isSubmitted)
                      " class="text-danger">Invalid Email</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-7">
                            <input type="password" class="form-control my-3 p-2" placeholder="Enter your password"
                                name="password" #passwordInput="ngModel" ngModel required [ngClass]="
                      passwordInput.invalid &&
                      (passwordInput.touched || isSubmitted)
                        ? 'border-danger'
                        : passwordInput.valid
                        ? 'border-success'
                        : ''
                    " />
                            <div class="h-10">
                                <small *ngIf="
                            passwordInput.invalid &&
                            (passwordInput.touched || isSubmitted)
                          " class="text-danger">Invalid Password</small>
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-7">
                            <button type="submit" class="btn1 mb-5 mt-3">Login</button>
                        </div>
                    </div>
                    <a href="">Forget password?</a>
                    <p>Don't have an account? <a routerLink="/register">Register Here</a></p>
                </form>
            </div>
        </div>
    </div>
</section>