.head{
    width:100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
}
.headLeft,.headRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: tomato; */
}
.headIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;

}
.headCenter{
    flex:6;
}
.headList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

}
.headListItem{
    margin-right: 20px;
    font-size: 20px;
    font-weight:400;
    cursor: pointer;
    text-decoration: none!important;
color: black;
}
.headImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.searchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left:15px;
}